{%extends 'basic.html'%}
{%block title%}Запись о всех резидентах {%endblock%}
{%block body%}
<h1> Все резиденты</h1>
    <form action="" method="POST" target="_self">
        <input type="text" id="комната" name='комната' placeholder="Введите комнату">
        <button class="btn btn-primary" type="submit">дать</button>
    </form>
    <form action="/user" method="POST">
        <div class="input-group mb-3">
            <input type="text" 
                class="form-control" 
                name="user_id" 
                placeholder="Введите ID пользователя" 
                required>
            <button class="btn btn-primary" type="submit">Найти пользователя</button>
        </div>
    </form>
        
        <div>

            <div>
            <table>
                <thead>
                <tr scope="row"></tr>
                <tr scope="row"></tr>
                <tr scope="row"></tr>
                </thead>
                <tbody>
                <tr>
                    <th hidden></th>
                </tr>
                </tbody>
            </table>
            </div>
            
            {%for резидент in resident_list%}
                
                    <p>
                    {{резидент.комната}} 
                    {{резидент.ФИО}} 
                    {{резидент.группа}}
                    
                    <a href="/user/{{резидент.user_id}}" target="_blank" >{{резидент.user_id}}</a>
                    
                    </p>
            
            {%endfor%}

            {%if room != ('' or None)%}
                <h1>Таблица отсортирована по комнате {{room}}</h1>

            {%endif%}
        </div>
    


{%endblock%}