{%extends 'basic.html'%}
{%block title%}Запись о всех резидентах {%endblock%}
{%block body%}
<h1> Все резиденты</h1>
    <form action="/residents" method="POST">
        <input type="text" id="комната" placeholder="Введите комнату">
        <button type="submit" aria-placeholder="это где" >дать</button>
    </form>
    <div>
        {%for резидент in resident_list%}
            
                
                {{резидент.комната}} 
                {{резидент.ФИО}} 
                {{резидент.группа}}
                <br>
                
        
        {%endfor%}
    </div>
    


{%endblock%}