{%extends 'basic.html'%}

{%block title%}  Страница пользователя   {%endblock%}
{%block body%}
<form action="/user_page" method="POST">
        {%if user!= []%}
                {% set ФИО=user.ФИО.split(' ') %} 
        <div class="border px-10">        
        <section class="w-120 px-8 py-5">
                <p id="user_text">
                        <label for="" id="user_text_area">Фамилия:</label> {{ФИО[0]}} <br>
                        <label for="" id="user_text_area">Имя:</label> {{ФИО[1]}}<br>
                        <label for="" id="user_text_area">Отчество:</label> {{ФИО[2]}}<br>
                        <label for="" id="user_text_area">комната:</label> {{user.комната}} <br>
                        <label for="" id="user_text_area">Группа:</label> {{user.группа}} <br>
                </p>
        </section>
        {%endif%}
{%endblock%}